<!DOCTYPE html>
<html>
<head>
  <title>Transit Tour</title>

  <link rel="stylesheet" href="../static/styles/general.css">
  <link rel="stylesheet" href="../static/styles/home-page.css">
</head>
<body>
  <header>
    <a href="/">Home</a>
    <div class="links">
      <a href="/about">About</a>
      <a href="https://github.com/safwanishere/TransitTour" target="_blank">GitHub</a>
    </div>
  </header>

  <h1>Transit Tour</h1>
  <h4>We help you make the most out of your transit time, plan a layover trip from your airport while you wait for your connecting flight. Choose your transit airport and the waiting time and we'll fetch the closest places you can visit during your wait!</h4>

  <footer>
    <p>© Copyright 2025. All Rights Reserved</p>
    <p>Transit Tour</p>
  </footer>

</body>
</html>