<!DOCTYPE html>
<html>
<head>
  <title>TransitTour</title>
</head>
<body>
  <h2>Plan a Layover Trip</h2>
  <form action="/plan" method="get">
    <label>Choose Airport:</label>
    <select name="airport" id="airport" class="form-control">
        {% for airport in airports %}
          <option value="{{ airport.iata }}">{{ airport.name }} ({{ airport.iata }})</option>
        {% endfor %}
    </select>
    <br><br>

    <label>Transit Time (in minutes):</label>
    <input type="number" name="time" required min="30"><br><br>

    <button type="submit">Plan Trip</button>
  </form>
</body>
</html>
