<!DOCTYPE html>
<html>
<head>
  <title>Nearby Places</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
  <h2>Nearby Places You Can Visit</h2>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script>
    const map = L.map('map').setView([{{ coords[0] }}, {{ coords[1] }}], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    const places = {{ places|tojson }};
    places.forEach(place => {
      const marker = L.marker([place.point.lat, place.point.lon]).addTo(map);
      marker.bindPopup(`<b>${place.name || 'Unnamed Place'}</b><br>Type: ${place.kinds}`);
    });
  </script>
</body>
</html>
